# Indexer-specific settings for stagenet

global:
  environment: stagenet
  namespace: kt-datahaven-stagenet

image:
  tag: latest
  pullPolicy: Always

imagePullSecrets:
  - name: datahaven-dockerhub

ingress:
  enabled: false

node:
  chain: stagenet-local
  chainData:
    persistence:
      size: 20Gi
  resources:
    requests:
      memory: "512Mi"
      cpu: "200m"
    limits:
      memory: "1Gi"
      cpu: "500m"
