name: "Setup Rust Environment"
description: "Creates a Rust environment with the specified toolchain, cache, and dependencies"

inputs:
  cache-key:
    description: "Cache key used to retrieve built data. Usually matches the profile of the build"
    required: false
    default: "cache"
  
  install-deps:
    description: "Whether to install system dependencies (libpq-dev, libclang-dev)"
    required: false
    default: "true"

runs:
  using: "composite"
  steps:
    - name: Set Rust version
      shell: bash
      run: |
        echo "BUILD_RUST_VERSION=$(rustc --version)" >> $GITHUB_ENV
    - name: Run sccache-cache
      uses: mozilla-actions/sccache-action@v0.0.9
    
    - name: Show sccache stats
      shell: bash
      run: sccache --show-stats
      
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    
    - name: Setup Rust toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    
    - uses: rui314/setup-mold@v1
    
    - name: Install system dependencies
      if: inputs.install-deps == 'true'
      shell: bash
      run: sudo apt-get update && sudo apt-get install -y libpq-dev libclang-dev
    - name: Install Protoc
      if: inputs.install-deps == 'true'
      uses: arduino/setup-protoc@v3
      with:
        repo-token: ${{ github.token }}