# MacOS thing
**/.DS_Store

# Rust directories
target

# Typescript directories
**/node_modules
**/.yarn

# Spec/Wasm build directory
/build/

# Moonbeam-Launch
*.log
tools/specFiles
tools/*-local.json
tools/*-local-raw.json
tools/build

# RustRover
.idea/

# VSCode
.vscode/

# Environment variables
.env

# Temporary files
**/tmp

# Local CLAUDE configuration
CLAUDE.local.md