# End-To-End Tests: CI for starting a full ETH private network, deploying AVS and running tests.
#
# Overview:
# 1. Start kurtosis network
# 2. Deploy AVS contracts
# 3. Run E2E tests

name: E2E - Kurtosis Deploy and Verify

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: "tests-${{ github.head_ref }}"
  cancel-in-progress: true

env:
  FOUNDRY_PROFILE: ci
  LOG_LEVEL: debug

jobs:
  kurtosis:
    runs-on: ubuntu-latest
    name: E2E Tests with Kurtosis Ethereum Network
    defaults:
      run:
        working-directory: test
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: oven-sh/setup-bun@v2
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Install Kurtosis
        run: |
          echo "deb [trusted=yes] https://apt.fury.io/kurtosis-tech/ /" | sudo tee /etc/apt/sources.list.d/kurtosis.list
          sudo apt update
          sudo apt install kurtosis-cli
          kurtosis analytics disable
      - run: kurtosis version
      - uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-

      - uses: actions/cache@v4
        with:
          path: ~/.foundry/cache
          key: ${{ runner.os }}-foundry-${{ hashFiles('**/foundry.toml') }}
          restore-keys: |
            ${{ runner.os }}-foundry-

      - run: bun install
      - run: bun start:e2e:ci
      - run: bun test:e2e
